@import "../../variables.scss";

@mixin red-neon{
    text-shadow: 
        0 0 4px $red-highlight,
        0 0 4px $red-highlight,
        0 0 8px $red-highlight,
        0 0 8px $red-highlight;
}

.canban_board{
    display: flex;
    width: 100%;
	justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;

    .column{
        width: 300px;

        .header{
            color: $bg-color;
            background-color: $white;
            text-align: center;
            font-size: 1.2em;
            font-family: "Roboto Mono";
        }

        .cards{
            .card:hover{
                animation: wiggle .1s linear 1;
            }
        }
    }
}

.card{
    animation: none;
    border: 0.5px solid $white;
    border-radius: 3px;
    padding: 16px 16px 18px;
    margin: 20px 10px;
    user-select: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.15);

    .title{
        font-size: 1.1em;
        font-weight: 500;
    }

    .description{
        margin-top: 10px;
        font-size: 0.8em;
        font-weight: 300;
    }

    &.ghost{
        position: absolute;
        background-color: $bg-color;
        width: 260px;
        opacity: 0.2;
        margin: 0;
    }
}

@keyframes wiggle {
   0% { transform: rotate(0deg); }
   25% { transform: rotate(1deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}