@import "../../variables.scss";

@mixin red-neon{
    text-shadow: 
        0 0 4px $red-highlight,
        0 0 4px $red-highlight,
        0 0 8px $red-highlight,
        0 0 8px $red-highlight;
}

.canban_board{
    display: flex;
    width: 100%;
	justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;

    .column{
        width: 300px;

        .header{
            color: $bg-color;
            background-color: $white;
            text-align: center;
            font-size: 1.2em;
            font-family: "Roboto Mono";
        }

        .card_divider{
            border: 0.5px solid transparent;
            margin: -10px auto;
            width: 270px;
            
            &.first{
                margin: 10px auto -10px;
            }

            &.active{
                border-color: rgba($green-highlight, 1);
            }
        }

        .add_to_column{
            background-color: $bg-color;
            background: linear-gradient(0deg, $bg-color 60%, $scroll_handle 100%);
            color: $white;
            border: none;
            border-top: 1px solid $white;
            border-radius: 5px;
            padding: 6px 12px;
            margin: 20px auto;
            font-weight: 400;
            width: 280px;
            display: block;
            transition: border-color 0.2s ease-in-out;
            font-size: 0.6em;

            &:hover{
                @include hover_animation;
            }
        }

        .counter{
            color: rgba($white, 0.5);
            font-size: 0.7em;
            font-weight: 300;
            text-align: center;
            margin-top: 4px;
            margin-bottom: -4px;
        }
    }
}

.card{
    white-space: pre-wrap;
    animation: none;
    padding: 16px 16px 18px;
    margin: 20px 10px;
    user-select: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.15);
    transition: border-color 0.2s ease-in-out;
    @include border_styles;

    &:hover{
        @include hover_animation;
    }

    &:active{
        background-color: rgba($scroll_handle, 0.5);
    }

    .title{
        font-size: 1.1em;
        font-weight: 500;
    }

    .description{
        margin-top: 10px;
        font-size: 0.8em;
        font-weight: 300;
    }

    &.ghost{
        position: absolute;
        background-color: $bg-color;
        width: 260px;
        opacity: 0.2;
        margin: 0;
    }
}

@keyframes wiggle {
   0% { transform: rotate(0deg); }
   25% { transform: rotate(1deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}