@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono&subset=latin,latin-ext');

$bg-color: #081928;
$scroll_handle: #040e16;
$white: #F8FCFF;
$red-highlight: #FF7454;
$blue-highlight: #72A3FF;
$blue-highlight: #9DFF70; 